<menu-superior></menu-superior>
<div class="row justify-content-around fondoLogin pb-5">
	<div class="col-12 text-center mt-5 mb-5">
		<span class="display-3">Iniciar sesión</span>
	</div>
	<div class="col-md-5 mt-3 formulario">
		<form #formLogin="ngForm" class="form login" (ngSubmit)="comprobar()">
			<label for="correo">Correo:</label>
			<input type="text" name="correo" required="required" id="correo" class="form-control" [(ngModel)]="usuario.correo" pattern=".+@.+\.[a-z]{2,7}">
			<label for="pwd" class="mt-3">Contraseña:</label>
			<input type="password" name="pwd" required="required" id="pwd" class="form-control mb-3" [(ngModel)]="usuario.pwd">
			<a [routerLink]="['/recuperar-password']" href="#">Olvidé mi contraseña</a><br/>
			<a [routerLink]="['/']" class="btn btn-danger mt-4">Volver</a>
			<div class="mt-4 float-right">
			   <input type="submit" value="Enviar" class="btn btn-primary" [disabled]="!formLogin.form.valid">
			</div>
		</form>
	</div>
</div>