<router-outlet></router-outlet>
<!-- Pie de página -->
<footer class="page-footer font-small stylish-color-dark pt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <!-- Esto es GroupReads -->
            <div class="col-md-4">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Esto es GroupReads</h5>
                <p>
                  Somos un proyecto creado con el objetivo de volver a enamorarte de la lectura, concretamente leyendo en grupo con todas las ventajas que eso aporta. Además es muy fácil hacer buenos amigos aquí.
                </p>
            </div>
            <!-- /.Esto es GroupReads -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Columna Sitio web -->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Sitio Web</h5>
                <ul class="list-unstyled">
                    <li>
                        <a [routerLink]="['/registro']">Registrarse</a>
                    </li>
                    <li>
                        <a [routerLink]="['/login']">Iniciar sesión</a>
                    </li>
                    <li>
                        <a href="#!">Política de privacidad</a>
                    </li>
                    <li>
                        <a href="#!">Uso de Cookies</a>
                    </li>
                </ul>
            </div>
            <!-- /.Columna Sitio web -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Columna Social -->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Social</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Twitter</a>
                    </li>
                    <li>
                        <a href="#!">Facebook</a>
                    </li>
                    <li>
                        <a href="#!">YouTube</a>
                    </li>
                    <li>
                        <a href="#!">Instagram</a>
                    </li>
                </ul>
            </div>
            <!-- /.Columna Social -->
            <hr class="clearfix w-100 d-md-none">
        </div>
    </div>
    <hr>
    <!-- Registrarse -->
    <div class="text-center py-3">
        <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item">
                <h5 class="mb-1">Registrate gratis</h5>
            </li>
            <li class="list-inline-item">
                <a [routerLink]="['/registro']" class="btn btn-danger btn-rounded">Apúntame!</a>
            </li>
        </ul>
    </div>
    <!-- /.Registrarse -->

    <hr>
    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright: GroupReads.com
    </div>
    <!-- /.Copyright -->
</footer>
<!-- /.Pie de página -->