<h5>Amigos</h5>
<hr>
<span *ngIf="usuario.peticiones>1">
	<button (click)="verSolicitudes()" class="btn btn-success">{{usuario.peticiones}}</button> Solicitudes pendientes<hr>
</span>
<span *ngIf="usuario.peticiones==1">
	<button (click)="verSolicitudes()" class="btn btn-success">{{usuario.peticiones}}</button> Solicitud pendiente<hr>
</span>
<span>Mis amigos:</span>
<span *ngIf="amigos.length==0"><br/><i>¡Vaya! no tienes ningún amigo agregado</i></span>
<span *ngIf="amigos.length>0">
	<ul class="listaamigos mt-3">
		<li *ngFor="let amigo of amigos">{{amigo.nombre}} (@{{amigo.nick}})</li>
	</ul>
</span>