<!-- Banner principal (con efecto de escritura) -->
<div class="row" id="primera">
  <div class="col-12" id="banner">
    <span class="display-1 mb-5">{{title}}</span>
    <div>
      <span class="display-3">para los </span><span class="auto display-3"></span>
    </div>
  </div>
</div>
<!-- Conoce GroupReads (3 columnas) -->
<h1 class="text-center display-3 mt-5 mb-5">Conoce la plataforma</h1>
<div class="row justify-content-around">
  <div class="col-md-3 feature text-center mt-3 mb-2">
    <i class="fas fa-book fa-4x mb-5"></i>
    <h2>Calidad</h2>
    <p class="lead">
      Esta plataforma ha sido creada por lectores y el objetivo principal es que todos le saquemos el máximo partido a cada libro.
    </p>
  </div>
  <div class="col-md-3 feature text-center mt-3 mb-2">
    <i class="far fa-money-bill-alt fa-4x mb-5"></i>
    <h2>Gratis</h2>
    <p class="lead">
      GroupReads es totalmente gratuito para que toda la gente pueda volver a enamorarse de la lectura en grupo.
    </p>
  </div>
  <div class="col-md-3 feature text-center mt-3 mb-2">
    <i class="fas fa-users fa-4x mb-5"></i>
    <h2>Social</h2>
    <p class="lead">
      Hacer nuevos amigos leyendo libros es muy fácil, o ¿Poqué no te traes a los tuyos?
    </p>
  </div>
</div>
<!-- Como puedo empezar (2 columnas) -->
<div class="row justify-content-around mt-5" id="empezar">
  <h3 class="mt-5 display-4 text-center">¿Cómo puedo empezar?</h3>
  <div class="w-100 mb-5"></div>
  <div class="col-md-5 text-center mt-4 mb-5">
    <h3 class="mb-4">¿Ya tienes cuenta?</h3>
    <a [routerLink]="['/login']" class="btn btn-success">Iniciar sesión</a>
  </div>
  <div class="col-md-5 text-center mt-4 mb-5">
    <h3 class="mb-4">¿Aún no tienes cuenta?</h3>
    <button class="btn btn-success mb-4">Registrarse</button>
  </div>
</div>
<!-- Últimos libros -->
<div class="row">
  <div class="col-12">
    <h2 class="text-center mt-5 display-4 mb-5">Libros favoritos de los lectores:</h2>
    <!-- Imagenes libros -->
    <div class="row mb-5 text-center libros">
      <div class="col-md-2"><img src="../assets/img/ready-player-one.jpg" class="img img-responsive img-thumbnail mb-3 mt-3"></div>  
      <div class="col-md-2"><img src="../assets/img/1984.jpg" class="img img-responsive img-thumbnail mb-3 mt-3"></div>
      <div class="col-md-2"><img src="../assets/img/guardian-centeno.jpg" class="img img-responsive img-thumbnail mb-3 mt-3"></div>
      <div class="col-md-2"><img src="../assets/img/bellas-durmientes.jpg" class="img img-responsive img-thumbnail mb-3 mt-3"></div>
      <div class="col-md-2"><img src="../assets/img/cuentos-ninias.jpg" class="img img-responsive img-thumbnail mb-3 mt-3"></div>
      <div class="col-md-2"><img src="../assets/img/fin-guardia.jpg" class="img img-responsive img-thumbnail mb-3 mt-3"></div>
    </div>
  </div>
</div>
<!-- Boton para volver arriba -->
<a href="#" id="scroll" style="display: none;"><span></span></a>