<menucolaborador *ngIf="usuario.tipo=='c'"></menucolaborador>
<menuusuario *ngIf="usuario.tipo=='n'"></menuusuario>
<div class="row mt-5 mb-5 justify-content-around">
  <!--Si no estás en ningún club-->
  <div *ngIf="noClub" class="col-md-10">
    <h4>¡{{usuario.nombre}} no estás en ningún club!</h4>
    <span class="lead">
      Aquí tienes algunos clubes a los que puedes unirte o puedes <button [routerLink]="['/nuevo-club']" class="btn btn-success">Crear un club</button>
    </span>
    <hr>
    <h5 *ngIf="clubes.length=='0' && solicitados.length=='0'"><i>¡Vaya! parece que no hay clubes..</i></h5>
    <h5 *ngIf="solicitados.length>0"><i>Esperando a que el club acepte tu petición..</i></h5>
    <div *ngIf="clubes.length>'0' || solicitados.length>'0'" class="row">
      <div *ngFor="let club of clubes" class="card club m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{club.nombreClub}}</h5>
          <h6 *ngIf="club.privacidad=='a'" class="card-subtitle mb-2 text-muted">
            Privacidad: Abierto <i class="fas fa-unlock-alt"></i>
          </h6>
          <h6 *ngIf="club.privacidad=='c'" class="card-subtitle mb-2 text-muted">
            Privacidad: Cerrado <i class="fas fa-lock"></i>
          </h6>
          <div class="genero">{{club.nombre}}</div>
          <p class="card-text">
            {{club.descripcion}}
          </p>
          <button (click)="unirse(club)" *ngIf="club.privacidad=='c'" class="btn btn-outline-dark">Solicitar</button>
          <button (click)="unirse(club)" *ngIf="club.privacidad=='a'" class="btn btn-outline-success">Unirme</button>
        </div>
      </div>
      <div *ngFor="let solicitado of solicitados" class="card club m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{solicitado.nombreClub}}</h5>
          <h6 *ngIf="solicitado.privacidad=='a'" class="card-subtitle mb-2 text-muted">
            Privacidad: Abierto <i class="fas fa-unlock-alt"></i>
          </h6>
          <h6 *ngIf="solicitado.privacidad=='c'" class="card-subtitle mb-2 text-muted">
            Privacidad: Cerrado <i class="fas fa-lock"></i>
          </h6>
          <div class="genero">{{solicitado.nombre}}</div>
          <p class="card-text">
            {{solicitado.descripcion}}
          </p>
          <button (click)="borrarSolicitud(solicitado)" *ngIf="solicitado.privacidad=='c'" class="btn btn-outline-warning">Eliminar solicitud</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!noClub" class="col-12">
    <h4 class="text-center">
      ¡Actualmente formas parte de: <i>{{club.nombreClub}}</i>!
    </h4>
  </div>
  <!--Si el club se está leyendo un libro-->
  <div *ngIf="!noClub && !noLibro" class="col-md-10 mt-4 mb-4">
    <span class="lead">El club se está leyendo</span>
    <div class="row justify-content-around">
      <!--Libro actual-->
      <div class="col-md-3 card m-2">
        <div class="card-body">
          <img *ngIf="libroActual.portada" matTooltip="{{libroActual.titulo}}" class="img-thumbnail mb-2" src="http://localhost/GroupReads/src/app/portadas/{{libroActual.portada}}">
          <img *ngIf="!libroActual.portada" matTooltip="{{libroActual.titulo}}" class="img-thumbnail mb-2" src="http://localhost/GroupReads/src/app/portadas/nopic.jpg">
          <h5 class="card-title text-truncate">{{libroActual.titulo}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Páginas: {{libroActual.paginas}}</h6>
          <button (click)="libroAcabado()" class="btn btn-danger mt-3 text-truncate" *ngIf="usuario.id==club.idCreador">Hemos terminado el libro</button>
        </div>
      </div>
      <!--Debate sobre el libro-->
      <div id="botscroll" class="col-md-8 mt-2 mb-2 debate">
        <span *ngIf="comentarios.length=='0'" class="lead">¡Vaya! parece que todavía no hay comentarios</span>
        <div *ngFor="let comentario of comentarios" class=" mt-1 mb-1 comentario p-2 row">
          <div class="col-md-2">
            <div class="imgperfil">
              <img *ngIf="comentario.foto" matTooltip="{{comentario.nombreUsuario}}" class="fotoperfil" src="http://localhost/GroupReads/src/app/upload/{{comentario.foto}}">
              <img *ngIf="!comentario.foto" matTooltip="{{comentario.nombreUsuario}}" class="fotoperfil" src="http://localhost/GroupReads/src/app/upload/user.png">
            </div>
          </div>
          <div class="col-md-2 align-self-center">{{comentario.nombreUsuario}}</div>
          <div class="col-md-8 align-self-center">{{comentario.comentario}}</div>
        </div>
      </div>
      <!--Formulario para comentar-->
      <div class="col-md-8 mt-3">
        <form #formComment="ngForm" (ngSubmit)="comentar()">
          <textarea required="required" name="comentario" [(ngModel)]="nuevoComentario" placeholder="¡Únete al debate!" pattern="^[A-Za-z0-9\,\s]+" class="form-control mb-2" style="min-height:50px;max-height:120px"></textarea>
          <input  type="submit" class="btn btn-light bordeEnv" name="enviar" value="Publicar" 
          [disabled]="!formComment.form.valid">
        </form>
      </div>
    </div>
    <hr/>
  </div>
  <!--Si hay una votación en tu club-->
  <div *ngIf="!noClub && votacion && !votado" class="col-md-8 mt-4 mb-4">
    <span class="lead">Votación en curso:</span>
    <div class="row">
      <div *ngFor="let libro of librosVotar" class="col-md-3 card m-2">
        <div class="card-body">
          <img *ngIf="libro.portada" matTooltip="{{libro.titulo}}" class="img-thumbnail mb-2" src="http://localhost/GroupReads/src/app/portadas/{{libro.portada}}">
          <img *ngIf="!libro.portada" matTooltip="{{libro.titulo}}" class="img-thumbnail mb-2" src="http://localhost/GroupReads/src/app/portadas/nopic.jpg">
          <h5 class="card-title text-truncate">{{libro.titulo}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Votos: {{libro.votos}}</h6>
          <p class="card-text text-truncate"><button (click)="votar(libro)" class="btn btn-primary">Votar</button></p>
        </div>
      </div>
    </div>
    <button (click)="finalizar()" matTooltip="En caso de empate el libro se decide aleatoriamente" class="btn btn-danger mt-3" *ngIf="club.idCreador==usuario.id">Finalizar votación</button>
  </div>
  <!--Si ya has votado-->
  <div *ngIf="!noClub && votacion && votado" class="col-md-7 mt-4 mb-4">
    <span class="lead">Votación en curso: has votado a</span>
    <div class="row justify-content-around">
      <div class="col-md-4 card mt-2 mb-1">
        <div class="card-body">
          <img *ngIf="libroVotado.portada" matTooltip="{{libroVotado.titulo}}" class="img-thumbnail mb-2" src="http://localhost/GroupReads/src/app/portadas/{{libroVotado.portada}}">
          <img *ngIf="!libroVotado.portada" matTooltip="{{libroVotado.titulo}}" class="img-thumbnail mb-2" src="http://localhost/GroupReads/src/app/portadas/nopic.jpg">
          <h5 class="card-title">{{libroVotado.titulo}}</h5>
          <p class="card-text text-truncate"><button (click)="quitarVoto(libroVotado)" class="btn btn-warning">Cambiar voto</button></p>
          <button *ngIf="!grafico" (click)="this.grafico=true;this.crearGrafico()" class="btn btn-primary">Ver resultados</button>
        </div>
      </div>
      <div class="col-md-8 align-self-center">
        <canvas id="myChart"></canvas>
      </div>
      <button (click)="finalizar()" matTooltip="En caso de empate el libro se decide aleatoriamente" class="btn btn-danger mt-3" *ngIf="club.idCreador==usuario.id">Finalizar votación</button>
    </div>
  </div>
  <!--Libros leídos y libros recomendados-->
  <librosleidos class="col-md-10 mt-4 mb-4 scroll" *ngIf="!noClub && !votacion && noLibro"></librosleidos>
  <!--Si estás en algún club-->
  <div *ngIf="!noClub" class="col-md-10 mt-2">
    <span class="text-left lead">Otros miembros del club:</span><br/>
    <!--Miembros del club-->
    <div *ngIf="miembros.length>'0'" class="row mt-3">
      <div *ngFor="let miembro of miembros" class="card club col-md-3 m-1">
        <div class="card-body">
          <h5 class="card-title text-truncate">
            <span matTooltip="Propietario del club" *ngIf="club.idCreador==miembro.id"><i class="fas fa-star yellow"></i></span> 
            <span (click)="expulsar(miembro)" matTooltip="Expulsar del club" *ngIf="usuario.id==club.idCreador && club.idCreador!=miembro.id"><i class="fas fa-times red"></i></span> {{miembro.nombre}} {{miembro.apellidos}}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">@{{miembro.nick}}</h6>
          <p class="card-text text-truncate">
            {{miembro.correo}}
          </p>
        </div>
      </div>
    </div>
    <!--Si es el creador del club-->
    <hr/>
    <div *ngIf="peticiones.length>'0' && club.idCreador==usuario.id" class="row mt-3">
        <span class="lead">Usuarios que quieren unirse al club:</span>
        <span class="w-100 amigoLista p-2 m-2" *ngFor="let peticion of peticiones">                {{peticion.nombre}} @{{peticion.nick}}
        <button (click)="descartar(peticion)" matTooltip="Descartar petición" class="btn btn-danger float-right"><i class="fas fa-times"></i></button>
        <button (click)="aceptar(peticion)" matTooltip="Aceptar petición" class="btn btn-success float-right mr-2"><i class="fas fa-check"></i></button>
        </span>
        <hr>
    </div>
    <span class="lead">Opciones:</span>
    <div *ngIf="club.idCreador==usuario.id" class="row mt-3">
      <div *ngIf="noLibro" class="col-md-5 mb-2"><button [routerLink]="['/elegir-libro']" class="btn btn-success btn-block"><i class="fas fa-book"></i> Elegir un libro</button></div>
      <div class="col-md-5"><button (click)="dialogoEditar()" class="btn btn-warning btn-block"><i class="fas fa-wrench"></i> Editar</button></div>
      <div class="col-md-5"><button (click)="dialogoBorrar()" class="btn btn-danger btn-block"><i class="fas fa-trash-alt"></i> Borrar</button></div>
    </div>
    <!--Si es un miembro del club-->
    <div *ngIf="club.idCreador!=usuario.id" class="row mt-4 justify-content-around">
      <div class="col-md-5"><button (click)="abandonar()" class="btn btn-danger btn-block"><i class="fas fa-sign-out-alt"></i> Abandonar</button></div>
    </div>
  </div>
</div>