<menuadmin *ngIf="usuario.tipo=='a'"></menuadmin>
<menucolaborador *ngIf="usuario.tipo=='c'"></menucolaborador>
<menuusuario *ngIf="usuario.tipo=='n'"></menuusuario>
<div class="row mt-5 mb-5 justify-content-around">
	<div class="col-md-7">
		<h3 class="mb-4 display-4 text-center">Crear un nuevo club:</h3>
		<form #formClub="ngForm" class="form login" (ngSubmit)="onSubmit()">
			<!--Nombre-->
			<label for="nombre">Nombre:</label>
			<span *ngIf="nombre.touched && club.nombre!='' && !nombre.valid"><br/>Introduzca un nombre válido</span>
			<span class="valido" *ngIf="nombre.touched && club.nombre!='' && nombre.valid">
				<i class="fas fa-check fa-2x"></i>
			</span>
			<input [(ngModel)]="club.nombre" #nombre=ngModel required="required" type="text" name="nombre" class="mb-3 form-control" pattern="^[\-\_A-Za-z\u00f1\u00d1À-ÿ\s]+">
			<!--Descripción-->
			<label for="descripcion">Breve descripción del club:</label>
			<span *ngIf="descripcion.touched && club.descripcion!='' && !descripcion.valid"><br/>Introduzca una descripción válida</span>
			<span class="valido" *ngIf="descripcion.touched && club.descripcion!='' && descripcion.valid">
				<i class="fas fa-check fa-2x"></i>
			</span>
			<textarea [(ngModel)]="club.descripcion" #descripcion=ngModel required="required" name="descripcion" style="min-height:50px;max-height:120px" class="mb-3 form-control" pattern="^[0-9A-Za-z\u00f1\u00d1À-ÿ\s\,\.\-]+"></textarea>
			<!--Género--->
			<label for="genero">Género preferido:</label>
			<select class="mb-3 form-control" name="genero" [(ngModel)]="club.genero" required="required">
				<option *ngFor="let genero of generos" value="{{genero.id}}">
					{{genero.nombre}}
				</option>
			</select>
			<!--Privacidad del club-->
			<label for="tipo">Tipo:</label>
			<div class="form-control">
				<input (change)="cambiar($event,'a')" type="radio" name="tipo">Público
				<input (change)="cambiar($event,'c')" type="radio" name="tipo">Privado
			</div>
			<a [routerLink]="['/clubes']" class="btn btn-danger mt-4">Volver</a>
			<div class="mt-4 float-right">
			   <input type="submit" id="submit" matTooltip="¡Crear club!" value="Enviar" class="btn btn-primary" [disabled]="!formClub.form.valid || club.privacidad==''">
			</div>
		</form>
	</div>
</div>