<nav class="row justify-content-between pl-5 pr-5">
  <div class="col-md-3 mt-3">
    <a [routerLink]="['/']"><i class="fas fa-home"></i> Home</a>
  </div>
  <div class="col-md-3 text-right mt-3">
    <a [routerLink]="['/']"><i class="fas fa-cogs"></i> Ajustes</a>
    <a [routerLink]="['/']"><i class="fas fa-sign-out-alt ml-3"></i> Cerrar sesión</a>
  </div>
</nav>
<div class="row mt-4">
  <div class="col-md-4">
    <img class="avatar" src="http://localhost/GroupReads/src/app/upload/{{usuario.foto}}">
    <br/>Bienvenido {{usuario.nombre}}<br/>@{{usuario.nick}}
  </div>
</div>