<menu-superior></menu-superior>
<div class="row justify-content-around fondoRegistro pb-5">
	<div class="col-12 text-center mt-5 mb-5">
		<span class="display-3">Registrarse</span>
	</div>
	<div class="col-md-6 mt-3 formulario">
		<form #formUsuario="ngForm" class="form login" (ngSubmit)="onSubmit()">
			
			<!--Nombre-->
			<label for="nombre">Nombre:</label>
			<span *ngIf="nombre.touched && !nombre.valid"><br/>Introduzca un nombre válido</span>
			<span class="valido" *ngIf="nombre.touched && nombre.valid">
				<i class="fas fa-check fa-2x"></i>
			</span>
			<input type="text" required="required" id="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" name="nombre" class="form-control mb-3" pattern="^[A-Za-z\u00f1\u00d1À-ÿ\s]+">

			<!--Apellidos-->
			<label for="apellidos">Apellidos:</label>
			<span *ngIf="apellidos.touched && !apellidos.valid"><br/>Introduzca un apellido válido</span>
			<span class="valido" *ngIf="apellidos.touched && apellidos.valid">
				<i class="fas fa-check fa-2x"></i>
			</span>
			<input type="text" required="required" id="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" name="apellidos" class="form-control mb-3" pattern="^[A-Za-z\u00f1\u00d1À-ÿ\s]+">

			<!--Nombre de usuario-->
			<label for="nick">Nombre de usuario:</label>
			<span *ngIf="nick.touched && !nick.valid"><br/>Introduzca un nick válido<br/></span>
			<span class="valido" *ngIf="nick.touched && nick.valid">
				<i class="fas fa-check fa-2x"></i>
			</span>
			<input type="text" id="nick" required="required" #nick="ngModel" [(ngModel)]="usuario.nick" class="form-control mb-3" name="nick" pattern="^[A-Za-z0-9\u00f1\u00d1À\_\-\s]+">

			<!--Correo-->
			<label for="correo">Correo:</label>
			<span *ngIf="correo.touched && !correo.valid"><br/>Introduzca un correo válido<br/></span>
			<span *ngIf="existeCorreo"><br/>Ya existe un usuario con ese correo<br/></span>
			<span class="valido" *ngIf="correo.touched && correo.valid && !existeCorreo">
				<i class="fas fa-check fa-2x"></i>
			</span>
			<input (change)="comprobar()" type="text" required="required" id="correo" #correo="ngModel" [(ngModel)]="usuario.correo" name="correo" class="form-control mb-3" pattern="^.+@.+\.[a-z]{1,7}">
			
			<!--Contraseña-->
			<label for="pwd">Contraseña:</label>
			<span *ngIf="pwd.touched && !pwd.valid"><br/>La contraseña debe tener mayúsculas, minúsculas, números y 8 caracteres mínimo<br/></span>
			<span class="valido" *ngIf="pwd.touched && pwd.valid">
				<i class="fas fa-check fa-2x"></i>
			</span>
			<input type="password" required="required" id="pwd" #pwd="ngModel" [(ngModel)]="usuario.pwd" class="form-control mb-3" name="pwd" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)([A-Za-z\d]|[^$@!%*?&]){8,20}">
			
			<!--Confirmar contraseña-->
			<label for="pwd2">Confirmar contraseña:</label>
			<span *ngIf="pwd2.touched && usuario.pwd2!=usuario.pwd"><br/>Las contraseñas no coinciden<br/></span>
			<span class="valido" *ngIf="pwd2.touched && usuario.pwd!='' && usuario.pwd==usuario.pwd2 ">
				<i class="fas fa-check fa-2x"></i>
			</span>
			<input type="password" id="pwd2" #pwd2="ngModel" [(ngModel)]="usuario.pwd2" class="form-control mb-3" name="pwd2" required="required">

			<!--Fecha de nacimiento Librería:Angular Material -->
			<mat-form-field>
  				<input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" disabled [(ngModel)]="usuario.fecha" name="fecha">
  				<mat-datepicker-toggle matSuffix [for]="picker" required="required"></mat-datepicker-toggle>
  				<mat-datepicker required="true" #picker touchUi="true" disabled="false"></mat-datepicker>
			</mat-form-field>
			
			<!--Pais-->
			<br/><label for="pais">Pais:</label>
			<select name="pais" class="form-control mb-3" [(ngModel)]="usuario.pais">
				<option *ngFor="let pais of paises" value="{{pais.id}}">{{pais.nicename}}</option>
			</select>
			
			<!--Imagen-->
			<label>Imagen: (Opcional)</label>
			<input (change)="fileChangeEvent($event)" type="file" name="img" class="form-control">

			<a [routerLink]="['/']" class="btn btn-danger mt-4">Volver</a>
			<div class="mt-4 float-right">
			   <input type="submit" id="submit" matTooltip="¡Registrarme!" value="Enviar" class="btn btn-primary" [disabled]="!formUsuario.form.valid || usuario.pwd!=usuario.pwd2 || usuario.fecha=='' || existeCorreo || usuario.pais==''">
			</div>
		</form>
	</div>
</div>